Flexigroup.UIAutomation.Core/Connected Services/GoldManagerGateway/GoldManagerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://controller.gold.flexicards.co.nz/" targetNamespace="http://controller.gold.flexicards.co.nz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CardProgrammeDetailRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="cardProgrammeDetail" type="ns0:CardProgrammeDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateLtfGlobalTransParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="updateLtfGlobalTransParam" type="ns0:UpdateGlobalTransParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetLtfWhitelistRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planWhitelist" type="ns0:PlanWhitelist" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateLtfGlobalTransParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UpdateGlobalTransParamRequest" type="ns0:UpdateGlobalTransParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FindAdditionalAppWorkflowWrkRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="primaryUid" type="xsd:string" />
          <xsd:element minOccurs="0" name="srcApplicationNo" type="xsd:long" />
          <xsd:element minOccurs="0" name="applicationSrc" type="xsd:string" />
          <xsd:element minOccurs="0" name="statusCd" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="uidPromoExclusionResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lookupOneTimeCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lookupOneTimeCodeRequest" type="ns0:OneTimeCodeLookupRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetGlobalTransParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="globalTransParams" type="ns0:GlobalTransParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeleteWhitelistRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planWhitelist" type="ns0:PlanWhitelist" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdditionalAppWorkflowWrk">
    <xsd:sequence>
      <xsd:element name="srcApplicationNo" type="xsd:long" />
      <xsd:element name="applicationSrc" type="xsd:string" />
      <xsd:element name="statusCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstNm" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastNm" type="xsd:string" />
      <xsd:element minOccurs="0" name="relnToPrimary" type="xsd:string" />
      <xsd:element minOccurs="0" name="phoneNo" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="createDt" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="cardProgrammeCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="primaryUid" type="xsd:string" />
      <xsd:element minOccurs="0" name="nextReminderDt" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="accountAuth" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="externalReference" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getActiveLtfPlansByUidResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetActivePlansByUidResponse" type="ns0:GetActivePlansByUidResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element name="transaction_id" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfPlanParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="getAllLtfPlanParam" type="ns0:GetPlanParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generateAndSendOneTimeCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oneTimeCodeRequest" type="ns0:OneTimeCodeRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteGlobalTransParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="searchCardProgrammesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CardProgrammesResponse" type="ns0:CardProgrammesResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="resultCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="resultDesc" type="xsd:string" />
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element minOccurs="0" name="transmissionDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateUidPromoExclusion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uidPromoExclusionRequest" type="ns0:uidPromoExclusionRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LtfTransactionVariationLogRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="customerUid" type="xsd:string" />
          <xsd:element name="crtNo" type="xsd:string" />
          <xsd:element name="planId" type="xsd:int" />
          <xsd:element name="term" type="xsd:int" />
          <xsd:element name="paymentHoliday" type="xsd:int" />
          <xsd:element name="variationAmount" type="xsd:decimal" />
          <xsd:element name="cardProgrammeCode" type="xsd:string" />
          <xsd:element name="rrn" type="xsd:string" />
          <xsd:element name="statusCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeValidateResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element minOccurs="0" name="numberOfRemainingAttempt" type="xsd:int" />
      <xsd:element name="manualOtcValidation" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteWhitelistResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfGlobalTransParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetGlobalTransParamRequest" type="ns0:GetGlobalTransParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LtfTransactionVariationLogResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateAdditionalWorkflow">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UpdateAdditionalWorkflowRequest" type="ns0:UpdateAdditionalAppWorkflowWrkRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteGlobalTransParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="cardProgrammedCd" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saveLtfTransactionVariationLogResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LtfTransactionVariationLogResponse" type="ns0:LtfTransactionVariationLogResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfGlobalTransParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DeleteGlobalTransParamRequest" type="ns0:DeleteGlobalTransParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardProgrammesRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="cardProgrammeDetail" type="ns0:CardProgrammeDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeLookupRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="transactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetLtfWhitelistResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="planWhitelist" type="ns0:PlanWhitelist" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="promoUidResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="promos" nillable="true" type="ns0:Promo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetGlobalTransParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="includeTransactionCodes" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetGlobalTransParamByCodeResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element name="globalTransParam" type="ns0:GlobalTransParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateLtfWhitelist">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SaveOrUpdateLtfWhitelistRequest" type="ns0:SaveOrUpdateWhitelistRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateAdditionalAppWorkflowWrkRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="additionalAppWorkflowWrk" type="ns0:AdditionalAppWorkflowWrk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="consumerChannel" type="xsd:string" />
      <xsd:element name="validTimeInMinutes" type="xsd:int" />
      <xsd:element name="noOfRetry" type="xsd:int" />
      <xsd:element name="codeLength" type="xsd:int" />
      <xsd:element name="uid" type="xsd:string" />
      <xsd:element name="perorgNo" type="xsd:int" />
      <xsd:element name="pan" type="xsd:long" />
      <xsd:element name="cardProgrammeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="emailDetail" type="ns0:EmailDetail" />
      <xsd:element minOccurs="0" name="smsDetail" type="ns0:SmsDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FindCardProgrammeRelationResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="cardProgrammReln" nillable="true" type="ns0:CardProgrammeReln" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfWhitelist">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetLtfWhitelistRequest" type="ns0:GetLtfWhitelistRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanByIdRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planId" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateAdditionalAppWorkflowWrkResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element name="additionalAppWorkflowWrk" type="ns0:AdditionalAppWorkflowWrk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="validateOneTimeCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OneTimeCodeValidateResponse" type="ns0:OneTimeCodeValidateResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanWhitelistCustomerList">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="uid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Promo">
    <xsd:sequence>
      <xsd:element name="promoTy" nillable="true" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="optedIn" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="uid" type="xsd:string" />
      <xsd:element minOccurs="0" name="cardProgrammeCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="stopDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="processBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="processDate" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeLookupResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element name="oneTimeCode" type="xsd:string" />
      <xsd:element name="manualOtcValidation" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanDetail">
    <xsd:sequence>
      <xsd:element name="planId" type="xsd:int" />
      <xsd:element name="customerUid" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="cardProgrammeCd" type="xsd:string" />
      <xsd:element name="minRemainingAmount" type="xsd:decimal" />
      <xsd:element name="term" type="xsd:int" />
      <xsd:element name="paymentHoliday" type="xsd:int" />
      <xsd:element name="loadingFee" type="xsd:decimal" />
      <xsd:element name="loadingFeePercent" type="xsd:double" />
      <xsd:element name="interestRate" type="xsd:double" />
      <xsd:element name="displayPosition" type="xsd:int" />
      <xsd:element name="displayPriority" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findCardProgrammeReln">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FindCardProgrammeRelationRequest" type="ns0:FindCardProgrammeRelationRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardProgrammeDetail">
    <xsd:sequence>
      <xsd:element name="cardProgrammeId" nillable="true" type="xsd:int" />
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="onUsNominalFeeRate" type="xsd:decimal" />
      <xsd:element name="offUsNominalFeeRate" type="xsd:decimal" />
      <xsd:element name="criFlag" nillable="true" type="xsd:boolean" />
      <xsd:element name="statusCode" type="xsd:string" />
      <xsd:element name="financierPerorgNo" type="xsd:long" />
      <xsd:element name="ocaCardTy" type="xsd:string" />
      <xsd:element name="applicationQueueCardTy" type="xsd:string" />
      <xsd:element name="modifyPerorgNo" type="xsd:long" />
      <xsd:element name="cardBrand" type="xsd:string" />
      <xsd:element name="cardBankCd" type="xsd:string" />
      <xsd:element name="cardBranchCd" type="xsd:string" />
      <xsd:element name="cardPrefix" type="xsd:string" />
      <xsd:element name="creditPrefix" type="xsd:string" />
      <xsd:element name="cardBin" type="xsd:string" />
      <xsd:element name="applicationType" type="xsd:string" />
      <xsd:element name="cntryCallingCd" type="xsd:string" />
      <xsd:element name="loyaltyFl" nillable="true" type="xsd:boolean" />
      <xsd:element name="addnApplicationEndpoint" type="xsd:string" />
      <xsd:element name="gbnSeqName" type="xsd:string" />
      <xsd:element name="genNewPassword" nillable="true" type="xsd:boolean" />
      <xsd:element name="maxInvalidPinCnt" type="xsd:int" />
      <xsd:element name="hsmIpAddress" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contentArgs" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="contentTemplate_key" type="xsd:string" />
      <xsd:element minOccurs="0" name="toEmailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="fromEmailAddressKey" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="subject_template_args" type="xsd:string" />
      <xsd:element name="subject_template_key" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateLtfWhitelistResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saveOrUpdateLtfWhitelist" type="ns0:SaveOrUpdateWhitelistResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateLtfPlanParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SaveOrUpdateLtfPlanParamRequest" type="ns0:SaveOrUpdatePlanParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlanParam">
    <xsd:sequence>
      <xsd:element name="planId" type="xsd:int" />
      <xsd:element name="cardProgrammeCode" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="planType" type="xsd:string" />
      <xsd:element name="minRemainingAmount" type="xsd:decimal" />
      <xsd:element name="term" type="xsd:int" />
      <xsd:element name="paymentHoliday" type="xsd:int" />
      <xsd:element name="loadingFee" type="xsd:decimal" />
      <xsd:element name="loadingFeePercent" type="xsd:double" />
      <xsd:element name="interestRate" type="xsd:double" />
      <xsd:element name="transCode" type="xsd:string" />
      <xsd:element name="statusCode" type="xsd:string" />
      <xsd:element name="startDate" type="xsd:dateTime" />
      <xsd:element name="stopDate" type="xsd:dateTime" />
      <xsd:element name="processDate" type="xsd:dateTime" />
      <xsd:element name="displayPosition" type="xsd:int" />
      <xsd:element name="displayPriority" type="xsd:int" />
      <xsd:element name="whitelistPlanId" type="xsd:int" />
      <xsd:element name="whitelistPlanDescription" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateAdditionalWorkflowResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UpdateAdditionalWorkflowResponse" type="ns0:UpdateAdditionalAppWorkflowWrkResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findAdditionalWorkflows">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FindAdditionalAppWorkflowWrkRequest" type="ns0:FindAdditionalAppWorkflowWrkRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfWhitelistResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="getAllLtfWhitelist" type="ns0:GetLtfWhitelistResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateGlobalTransParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="generateAndSendOneTimeCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:OneTimeCodeResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateGlobalTransParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="globalTransParam" type="ns0:GlobalTransParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SaveGlobalTransParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="globalTransParam" type="ns0:GlobalTransParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateCardProgrammeDetailResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CardProgrammeDetailResponse" type="ns0:CardProgrammeDetailResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveOrUpdatePlanParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planParam" type="ns0:PlanParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetActivePlansByUidResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element name="globalTransParam" type="ns0:GlobalTransParam" />
          <xsd:element maxOccurs="unbounded" name="positionPlans" type="ns0:Plans" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CardProgrammeReln">
    <xsd:sequence>
      <xsd:element name="cardProgrammeCd" type="xsd:string" />
      <xsd:element name="relnProgrammeCd" type="xsd:string" />
      <xsd:element name="relnTy" type="xsd:string" />
      <xsd:element name="defaultFl" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfPlanParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="deleteLtfPlanParam" type="ns0:DeletePlanParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="promoUidRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="uid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetGlobalTransParamByCodeRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="cardProgrammeCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OneTimeCodeValidateRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="oneTimeCode" type="xsd:string" />
      <xsd:element name="transactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="uid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveOrUpdateWhitelistRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planWhitelist" type="ns0:PlanWhitelist" />
          <xsd:element name="operation" type="ns0:OperationType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeletePlanParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetPlanParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="planParam" type="ns0:PlanParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GlobalTransParam">
    <xsd:sequence>
      <xsd:element name="cardProgrammeCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="cardProgrammeDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="emiCap" type="xsd:double" />
      <xsd:element name="transactionAgeUnit" type="xsd:string" />
      <xsd:element minOccurs="0" name="transactionAgeLimit" type="xsd:int" />
      <xsd:element name="statusCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactionCodes" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardProgrammesResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="cardProgrammeDetails" nillable="true" type="ns0:CardProgrammeDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createAdditionalWorkflow">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CreateAdditionalWorkflowRequest" type="ns0:CreateAdditionalAppWorkflowWrkRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLtfWhitelistCustomersResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="getLtfWhitelistCustomers" type="ns0:GetLtfWhitelistResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfPlanParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetAllLtfPlanParamRequest" type="ns0:GetPlanParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseBase">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetPlanParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planParam" type="ns0:PlanParam" />
          <xsd:element name="startDateRange" type="ns0:DateRange" />
          <xsd:element name="endDateRange" type="ns0:DateRange" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRange">
    <xsd:sequence>
      <xsd:element name="start" type="xsd:dateTime" />
      <xsd:element name="end" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveOrUpdatePlanParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="queryPromosForUid">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="promoUidRequest" type="ns0:promoUidRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryPromosForUidResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:promoUidResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveLtfGlobalTransParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saveLtfGlobalTransParam" type="ns0:SaveGlobalTransParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateAdditionalAppWorkflowWrkResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element name="additionalAppWorkflowWrk" type="ns0:AdditionalAppWorkflowWrk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlanWhitelist">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="customers" type="ns0:PlanWhitelistCustomerList" />
      <xsd:element name="customersCount" type="xsd:int" />
      <xsd:element name="pageNumber" type="xsd:int" />
      <xsd:element name="pageSize" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateLtfPlanParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saveOrUpdateLtfPlanParam" type="ns0:SaveOrUpdatePlanParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateCardProgrammeDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saveOrUpdateCardProgrammeDetail" type="ns0:CardProgrammeDetailRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfWhitelist">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DeleteLtfWhitelistRequest" type="ns0:DeleteWhitelistRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveLtfGlobalTransParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SaveGlobalTransParamRequest" type="ns0:SaveGlobalTransParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="createAdditionalWorkflowResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CreateAdditionalWorkflowResponse" type="ns0:CreateAdditionalAppWorkflowWrkResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SmsDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="to_sms_number" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="content_template_args" type="xsd:string" />
      <xsd:element minOccurs="0" name="content_template_key" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="uidPromoExclusionRequest">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
      <xsd:element name="uid" type="xsd:string" />
      <xsd:element name="promoTy" type="xsd:string" />
      <xsd:element name="cardProgrammeCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="stopDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="processBy" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FindAdditionalAppWorkflowWrkResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="additionalAppWorkflowWrk" nillable="true" type="ns0:AdditionalAppWorkflowWrk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PlanByIdResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="plan" type="ns0:PlanDetail" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SaveGlobalTransParamResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="saveLtfTransactionVariationLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LtfTransactionVariationLogRequest" type="ns0:LtfTransactionVariationLogRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPlanByPlanIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PlanByIdResponse" type="ns0:PlanByIdResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAllLtfGlobalTransParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="getAllLtfGlobalTransParam" type="ns0:GetGlobalTransParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeletePlanParamRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="planParam" type="ns0:PlanParam" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="searchCardProgrammes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="searchCardProgrammesRequest" type="ns0:CardProgrammesRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CardProgrammeDetailResponse">
    <xsd:sequence>
      <xsd:element name="result" type="ns0:Result" />
      <xsd:element minOccurs="0" name="cardProgrammeDetail" type="ns0:CardProgrammeDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetActivePlansByUidRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="customerUid" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FindCardProgrammeRelationRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="cardProgrammeCd" type="xsd:string" />
          <xsd:element name="relnProgrammeCd" type="xsd:string" />
          <xsd:element minOccurs="0" name="relnTy" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getActiveLtfPlansByUid">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetActivePlansByUidRequest" type="ns0:GetActivePlansByUidRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLtfGlobalTransParamByCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetGlobalTransParamByCodeResponse" type="ns0:GetGlobalTransParamByCodeResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getPlanByPlanId">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PlanByIdRequest" type="ns0:PlanByIdRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateAdditionalAppWorkflowWrkRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:RequestBase">
        <xsd:sequence>
          <xsd:element name="additionalAppWorkflowWrk" type="ns0:AdditionalAppWorkflowWrk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="findAdditionalWorkflowsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FindAdditionalAppWorkflowWrkResponse" type="ns0:FindAdditionalAppWorkflowWrkResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saveOrUpdateUidPromoExclusionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:uidPromoExclusionResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lookupOneTimeCodeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OneTimeCodeLookupResponse" type="ns0:OneTimeCodeLookupResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Plans">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="plans" type="ns0:PlanDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLtfGlobalTransParamByCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetGlobalTransParamByCodeRequest" type="ns0:GetGlobalTransParamByCodeRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestBase">
    <xsd:sequence>
      <xsd:element name="transmissionId" type="xsd:int" />
      <xsd:element name="transmissionDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfWhitelistResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="deleteLtfWhitelist" type="ns0:DeleteWhitelistResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfGlobalTransParamResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="deleteLtfGlobalTransParam" type="ns0:DeleteGlobalTransParamResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findCardProgrammeRelnResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FindCardProgrammeRelationResponse" type="ns0:FindCardProgrammeRelationResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaveOrUpdateWhitelistResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ResponseBase">
        <xsd:sequence>
          <xsd:element name="planWhitelist" type="ns0:PlanWhitelist" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="deleteLtfPlanParam">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DeleteLtfPlanParamRequest" type="ns0:DeletePlanParamRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getLtfWhitelistCustomers">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GetLtfWhitelistRequest" type="ns0:GetLtfWhitelistRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateOneTimeCode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validateOneTimeCodeRequest" type="ns0:OneTimeCodeValidateRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="updateLtfGlobalTransParamResponse" type="ns0:updateLtfGlobalTransParamResponse" />
  <xsd:element name="updateLtfGlobalTransParam" type="ns0:updateLtfGlobalTransParam" />
  <xsd:element name="deleteLtfPlanParamResponse" type="ns0:deleteLtfPlanParamResponse" />
  <xsd:element name="lookupOneTimeCode" type="ns0:lookupOneTimeCode" />
  <xsd:element name="getActiveLtfPlansByUidResponse" type="ns0:getActiveLtfPlansByUidResponse" />
  <xsd:element name="getAllLtfPlanParamResponse" type="ns0:getAllLtfPlanParamResponse" />
  <xsd:element name="generateAndSendOneTimeCode" type="ns0:generateAndSendOneTimeCode" />
  <xsd:element name="createAdditionalWorkflow" type="ns0:createAdditionalWorkflow" />
  <xsd:element name="getAllLtfPlanParam" type="ns0:getAllLtfPlanParam" />
  <xsd:element name="getLtfWhitelistCustomersResponse" type="ns0:getLtfWhitelistCustomersResponse" />
  <xsd:element name="searchCardProgrammesResponse" type="ns0:searchCardProgrammesResponse" />
  <xsd:element name="saveOrUpdateUidPromoExclusion" type="ns0:saveOrUpdateUidPromoExclusion" />
  <xsd:element name="queryPromosForUid" type="ns0:queryPromosForUid" />
  <xsd:element name="queryPromosForUidResponse" type="ns0:queryPromosForUidResponse" />
  <xsd:element name="getAllLtfGlobalTransParam" type="ns0:getAllLtfGlobalTransParam" />
  <xsd:element name="saveLtfGlobalTransParamResponse" type="ns0:saveLtfGlobalTransParamResponse" />
  <xsd:element name="updateAdditionalWorkflow" type="ns0:updateAdditionalWorkflow" />
  <xsd:element name="saveOrUpdateLtfPlanParamResponse" type="ns0:saveOrUpdateLtfPlanParamResponse" />
  <xsd:element name="deleteLtfWhitelist" type="ns0:deleteLtfWhitelist" />
  <xsd:element name="saveOrUpdateCardProgrammeDetail" type="ns0:saveOrUpdateCardProgrammeDetail" />
  <xsd:element name="saveLtfGlobalTransParam" type="ns0:saveLtfGlobalTransParam" />
  <xsd:element name="saveLtfTransactionVariationLogResponse" type="ns0:saveLtfTransactionVariationLogResponse" />
  <xsd:element name="createAdditionalWorkflowResponse" type="ns0:createAdditionalWorkflowResponse" />
  <xsd:element name="deleteLtfGlobalTransParam" type="ns0:deleteLtfGlobalTransParam" />
  <xsd:element name="saveOrUpdateLtfWhitelist" type="ns0:saveOrUpdateLtfWhitelist" />
  <xsd:element name="saveLtfTransactionVariationLog" type="ns0:saveLtfTransactionVariationLog" />
  <xsd:element name="getAllLtfGlobalTransParamResponse" type="ns0:getAllLtfGlobalTransParamResponse" />
  <xsd:element name="getPlanByPlanIdResponse" type="ns0:getPlanByPlanIdResponse" />
  <xsd:element name="searchCardProgrammes" type="ns0:searchCardProgrammes" />
  <xsd:element name="getAllLtfWhitelist" type="ns0:getAllLtfWhitelist" />
  <xsd:element name="getActiveLtfPlansByUid" type="ns0:getActiveLtfPlansByUid" />
  <xsd:element name="getLtfGlobalTransParamByCodeResponse" type="ns0:getLtfGlobalTransParamByCodeResponse" />
  <xsd:element name="getPlanByPlanId" type="ns0:getPlanByPlanId" />
  <xsd:element name="validateOneTimeCodeResponse" type="ns0:validateOneTimeCodeResponse" />
  <xsd:element name="findAdditionalWorkflowsResponse" type="ns0:findAdditionalWorkflowsResponse" />
  <xsd:element name="saveOrUpdateUidPromoExclusionResponse" type="ns0:saveOrUpdateUidPromoExclusionResponse" />
  <xsd:element name="lookupOneTimeCodeResponse" type="ns0:lookupOneTimeCodeResponse" />
  <xsd:element name="getLtfGlobalTransParamByCode" type="ns0:getLtfGlobalTransParamByCode" />
  <xsd:element name="deleteLtfWhitelistResponse" type="ns0:deleteLtfWhitelistResponse" />
  <xsd:element name="findCardProgrammeReln" type="ns0:findCardProgrammeReln" />
  <xsd:element name="deleteLtfGlobalTransParamResponse" type="ns0:deleteLtfGlobalTransParamResponse" />
  <xsd:element name="saveOrUpdateLtfPlanParam" type="ns0:saveOrUpdateLtfPlanParam" />
  <xsd:element name="saveOrUpdateLtfWhitelistResponse" type="ns0:saveOrUpdateLtfWhitelistResponse" />
  <xsd:element name="findCardProgrammeRelnResponse" type="ns0:findCardProgrammeRelnResponse" />
  <xsd:element name="deleteLtfPlanParam" type="ns0:deleteLtfPlanParam" />
  <xsd:element name="updateAdditionalWorkflowResponse" type="ns0:updateAdditionalWorkflowResponse" />
  <xsd:element name="getAllLtfWhitelistResponse" type="ns0:getAllLtfWhitelistResponse" />
  <xsd:element name="findAdditionalWorkflows" type="ns0:findAdditionalWorkflows" />
  <xsd:element name="generateAndSendOneTimeCodeResponse" type="ns0:generateAndSendOneTimeCodeResponse" />
  <xsd:element name="getLtfWhitelistCustomers" type="ns0:getLtfWhitelistCustomers" />
  <xsd:element name="validateOneTimeCode" type="ns0:validateOneTimeCode" />
  <xsd:element name="saveOrUpdateCardProgrammeDetailResponse" type="ns0:saveOrUpdateCardProgrammeDetailResponse" />
  <xsd:simpleType name="OperationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="save" />
      <xsd:enumeration value="purge" />
      <xsd:enumeration value="merge" />
      <xsd:enumeration value="validate" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>